form#emailer.modal-form.emailer.px-3(method='POST' action='send' enctype ='multipart/form-data')
    label(for="name").w1 Point Person's Handle:
    input#name.form-input.name(type='text', placeholder='Scooter Presley' name='name' value="" required='true').w1
    div.flex.flexJustifySplay.noFlexWrap.w1.p-0.m-0
        div.w6.p-0.m-0
            label(for="address") Email:
            input#name.form-input.name(type='text', placeholder='scooter@whisperKitties.com' name='address' value="" required='true').w1
        div.w6.p-0.m-0
            label(for="phone") Phone:
            input#phone.form-input.phone(type='tel' name='phone' placeholder='123-456-7890' pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}' required='true')
    label(for="subject").w1 Band / Act Name:
    input#subject.form-input.subject(type='text', placeholder='Thine Whisper Kittens' name='subject' value="" required='true').w1
    label(for="demo").w1 Demo URL:
    input#demo.form-input.subject(type='text', placeholder=`https://soundcloud.com/jetaimeabelard/16-corner-office-hidden-bonus` name='demo' value="" required='true').w1
    label(for="message").w1 What else?:
    textarea#message.form-input.message(type='text', placeholder=' ...' name='message' value="" required='true').w1.mb-4
    button.btn.submit-btn(type='submit' value='submit').mb-4.w1.caps.f4.mM Submit
    p.dwarf.f3.lH2.py-2 It's exciting for CityULTRA to host the hottest and most unique Tail beef ribs pancetta biltong bresaola tongue turducken cupim. Turkey fatback andouille kevin tail pastrami chuck pork belly corned beef sausage ham pancetta flank. Burgdoggen kielbasa ground round beef pork belly.
    p.diminutive.f2.i.lH1.pe-5.me-5.my-2 Please feel free to submit your turducken shank beef ribs but please keep in mind we are not always able to reply to ball tip tongue bresaola chicken. Ham hock frankfurter corned beef pork loin buffalo.
    h5.w1.f2.i.textAlignRight —1k thank yous!