form#emailer.modal-form.emailer.px-3(method='POST' action='send' enctype ='multipart/form-data')
    label(for="name").w1 Point Person's Handle:
    input#name.form-input.name(type='text', placeholder='Scooter Presley' name='name' value="" required='true').w1
    div.flex.flexJustifySplay.noFlexWrap.w1.p-0.m-0
        div.w6.p-0.m-0
            label(for="address") Email:
            input#name.form-input.name(type='text', placeholder='scooter@whisperKitties.com' name='address' value="" required='true').w1
        div.w6.p-0.m-0
            label(for="phone") Phone:
            input#phone.form-input.phone(type='tel' name='phone' placeholder='123-456-7890' pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}' required='true')
    label(for="subject").w1 Band / Act Name:
    input#subject.form-input.subject(type='text', placeholder='Thine Whisper Kittens' name='subject' value="" required='true').w1
    label(for="demo").w1 Demo URL:
    input#demo.form-input.subject(type='text', placeholder=`https://soundcloud.com/jetaimeabelard/16-corner-office-hidden-bonus` name='demo' value="" required='true').w1
    label(for="message").w1 What else?:
    textarea#message.form-input.message(type='text', placeholder=' ...' name='message' value="" required='true').w1.mb-4
    button.btn.submit-btn(type='submit' value='submit').mb-4.w1.caps.f4.mM Submit
    p.dwarf.f3.lH2.py-2 It's exciting for CityULTRA to host the hottest and most unique Tail beef ribs pancetta biltong bresaola tongue turducken cupim. Turkey fatback andouille kevin tail pastrami chuck pork belly corned beef sausage ham pancetta flank. Burgdoggen kielbasa ground round beef pork belly.
    div.outlined
        h2.textAlignCenter.mM.exJr3 FAQ
        p.textAlignCenter.f3.diminutive (
            a(href='https://scxn-blog.tumblr.com/termsConditions' target='_BLANK').tB Terms and Conditions 
            | | 
            a(href='https://scxn-blog.tumblr.com/privacyPolicy' target='_BLANK').tB Privacy Policy
            | )
        p.dwarf.f3.lH2.pt-1.pb-0.mb-0.hangingindent Q: I submitted my demo to you and never heard back.  Everything alright?
        p.dwarf.f3.lH2.pb-1.pt-0.mt-0.hangingindent A: Try to remember we receive a high volume of demos and queries and are not able to reply to all submissions.  We do eventually listen to all submissions and contact artists who we feel are a good fit.
        p.dwarf.f3.lH2.pt-1.pb-0.mb-0.hangingindent Q: OK It's been a looong time and I'm starting to think you lost my demo. Can I submit again?
        p.dwarf.f3.lH2.pb-1.pt-0.mt-0.hangingindent A: We do eventually listen to all submissions and contact artists who we feel are a good fit.  So really, unless it's a different piece altogether, there wouldn't be any point.  But we looove discovering new art (especially music), so please feel free to submit as many demos as you want.  Just keep in mind that it might make us get back to you even slower by virture of the fact that you're distracting us with more and more demos.  Try and keep it to one if you can.  For the sake of other acts.  If we really hate your demos, we'll get back to you and tell you so.
        p.dwarf.f3.lH2.pt-1.pb-0.mb-0.hangingindent Q: I am having trouble with my submission.  What now?
        p.dwarf.f3.lH2.pb-1.pt-0.mt-0.hangingindent A: Although we appreciate your trials, we cannot help you.  Please direct technical queries to webmaster:  
            a(href='mailto:kai@scxn.io') kai@scxn.io
        p.dwarf.f3.lH2.pt-1.pb-0.mb-0.hangingindent Q: I have a very unique act in which I remove all my clothes and writhe around on the floor.  Would something like that be okay?  I promise it's good.
        p.dwarf.f3.lH2.pb-1.pt-0.mt-0.hangingindent A: After 11p, probably, but it really depends on the overall vibe.
        p.dwarf.f3.lH2.pt-1.pb-0.mb-0.hangingindent Q: Can I send you a physical demo in the mail or drop one off—like a tape?
        p.dwarf.f3.lH2.pb-1.pt-0.mt-0.hangingindent A: Please, no.  We're not set up to handle physical media at this time.  If this should change, we'll let the world know via mental telepathy.
        h5.w1.f2.i.textAlignRight.mt-5 —1k thank yous!