a#happyhour
div.outlined.row.mx-0
    h3.col-12.textAlignCenter.f4.caps.bM.exJr Happy Hour
    p.mt-2.col-12.textAlignCenter.px-0.px-md-4.lH2 Everyday from 3p-6p
    each hour, index in happyHourBodies
        div.col-16.col-sm-6.col-md-4.pb-0.mb-0
            div.menuHeadings.flex.pb-0.mb-0
                h2.memuTitles.f4.sM.w1.pb-0.mb-0
                    != happyHourTitles[index]
                h6.menuPrices.f4.sM.textAlignRight.py-0.my-0
                    != hour
            div.menuWriteUps.diminutive.lH1.mt-0.pt-2.pb-2
                != hour
margin.col-12.py-5
a#drafts                
div.outlined.row.mx-0
    h3.col-12.textAlignCenter.f4.caps.bM.exJr Drafts
    p.dwarf.mt-2.col-12.col-sm-9.col-md-6.px-0.px-md-4.dwarf.lH2 Easily the best place to sit down and enjoy a cold pint of tenderloin pork meatballs on the peninsula.
    each draft, index in draftsBodies
        div.col-16.col-sm-6.col-md-4.pb-0.mb-0
            div.menuHeadings.flex.pb-0.mb-0
                h2.memuTitles.f4.sM.w1.pb-0.mb-0
                    != draftsTitles[index]
                h6.menuPrices.f4.sM.textAlignRight.py-0.my-0
                    != draft
            div.menuWriteUps.diminutive.lH1.mt-0.pt-2.pb-2
                != draft
margin.col-12.py-5
a#mondays
h3.col-12.textAlignCenter.f4.caps.bM.exJr Mondays
p.mt-2.col-12.textAlignCenter.px-0.px-md-4.dwarf.lH2 Ribs shank pastrami, kevin ball tip capicola sirloin pig fatback ribeye pork chop leberkas.
each monday, index in mondaysBodies
    div.col-16.col-sm-6.col-md-4.pb-0.mb-0
        div.menuHeadings.flex.pb-0.mb-0
            h2.memuTitles.f4.sM.w1.pb-0.mb-0
                != mondaysTitles[index]
            h6.menuPrices.f4.sM.textAlignRight.py-0.my-0
                != monday
        div.menuWriteUps.diminutive.lH1.mt-0.pt-2.pb-2
            != monday
a#tuesdays
h3.col-12.textAlignCenter.f4.caps.bM.exJr Tuesdays
p.mt-2.col-12.textAlignCenter.px-0.px-md-4.dwarf.lH2 Beef ribs shank ham hock boudin ball tip pig chuck porchetta alcatra short loin pork chop rump sausage.
each tuesday, index in tuesdaysBodies
    div.col-16.col-sm-6.col-md-4.pb-0.mb-0
        div.menuHeadings.flex.pb-0.mb-0
            h2.memuTitles.f4.sM.w1.pb-0.mb-0
                != tuesdaysTitles[index]
            h6.menuPrices.f4.sM.textAlignRight.py-0.my-0
                != tuesday
        div.menuWriteUps.diminutive.lH1.mt-0.pt-2.pb-2
            != tuesday 
a#wednesdays
h3.col-12.textAlignCenter.f4.caps.bM.exJr Wednesdays
p.mt-2.col-12.textAlignCenter.px-0.px-md-4.dwarf.lH2 T-bone pastrami hamburger, capicola sirloin jerky turducken. Alcatra ribeye ball tip strip steak frankfurter kielbasa.
each wednesday, index in wednesdaysBodies
    div.col-16.col-sm-6.col-md-4.pb-0.mb-0
        div.menuHeadings.flex.pb-0.mb-0
            h2.memuTitles.f4.sM.w1.pb-0.mb-0
                != wednesdaysTitles[index]
            h6.menuPrices.f4.sM.textAlignRight.py-0.my-0
                != wednesday
        div.menuWriteUps.diminutive.lH1.mt-0.pt-2.pb-2
            != wednesday
a#thursdays
h3.col-12.textAlignCenter.f4.caps.bM.exJr Thursdays
p.mt-2.col-12.textAlignCenter.px-0.px-md-4.dwarf.lH2 Buffalo t-bone capicola kielbasa hamburger brisket pig spare ribs strip steak frankfurter salami turducken.
each thursday, index in thursdaysBodies
    div.col-16.col-sm-6.col-md-4.pb-0.mb-0
        div.menuHeadings.flex.pb-0.mb-0
            h2.memuTitles.f4.sM.w1.pb-0.mb-0
                != thursdaysTitles[index]
            h6.menuPrices.f4.sM.textAlignRight.py-0.my-0
                != thursday
        div.menuWriteUps.diminutive.lH1.mt-0.pt-2.pb-2
            != thursday
a#fridays
img(src='https://images.unsplash.com/photo-1485872299829-c673f5194813?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=860&q=80' style='height: 27vh; min-height: 100px;' alt='Phot of our patrons having a great time drinks in-hand.').fB.mt-1.mb-5
h3.col-12.textAlignCenter.f4.caps.bM.exJr Fridays
p.mt-2.col-12.textAlignCenter.px-0.px-md-4.dwarf.lH2 bresaola doner boudin ham pork belly.
each friday, index in fridaysBodies
    div.col-16.col-sm-6.col-md-4.pb-0.mb-0
        div.menuHeadings.flex.pb-0.mb-0
            h2.memuTitles.f4.sM.w1.pb-0.mb-0
                != fridaysTitles[index]
            h6.menuPrices.f4.sM.textAlignRight.py-0.my-0
                != friday
        div.menuWriteUps.diminutive.lH1.mt-0.pt-2.pb-2
            != friday
a#saturdays
h3.col-12.textAlignCenter.f4.caps.bM.exJr Saturdays
p.mt-2.col-12.textAlignCenter.px-0.px-md-4.dwarf.lH2 Ground round shoulder chuck, shank filet mignon salami chicken meatloaf burgdoggen tail.
each saturday, index in saturdaysBodies
    div.col-16.col-sm-6.col-md-4.pb-0.mb-0
        div.menuHeadings.flex.pb-0.mb-0
            h2.memuTitles.f4.sM.w1.pb-0.mb-0
                != saturdaysTitles[index]
            h6.menuPrices.f4.sM.textAlignRight.py-0.my-0
                != saturday
        div.menuWriteUps.diminutive.lH1.mt-0.pt-2.pb-2
            != saturday
a#sundays
h3.col-12.textAlignCenter.f4.caps.bM.exJr Sundays
p.mt-2.col-12.textAlignCenter.px-0.px-md-4.dwarf.lH2 Pastrami hamburger chislic salami buffalo sirloin pancetta ham burgdoggen. Doner porchetta ham hock, pork loin pork chop jowl salami strip steak tongue chislic tail capicola venison tenderloin pastrami. 
each sunday, index in sundaysBodies
    div.col-16.col-sm-6.col-md-4.pb-0.mb-0
        div.menuHeadings.flex.pb-0.mb-0
            h2.memuTitles.f4.sM.w1.pb-0.mb-0
                != sundaysTitles[index]
            h6.menuPrices.f4.sM.textAlignRight.py-0.my-0
                != sunday
        div.menuWriteUps.diminutive.lH1.mt-0.pt-2.pb-2
            != sunday