footer.mH.w1.bB.container-fluid.sC.py-3
    article.row.w1.maxed
        div.socialMedias.col-12.textAlignCenter.mb-5
            a(href='/projects/CityULTRA/').tW.p-3
                i.fa-brands.fa-yelp
            a(href='/projects/CityULTRA/').tW.p-3
                i.fa-brands.fa-instagram
            a(href='/projects/CityULTRA/').tW.p-3
                i.fa-brands.fa-facebook-f
        div.hours.col-12.col-md-4.tW.textAlignCenter.flex.flexCol.flexJustifyEnd
            h1.f4.mM Hours
            p.lH2.f2.i.dwarf.pb-0.mb-0 Everyday<br>2p-2a
        div.mt-3.mt-sm-0.logo.col-12.col-md-4.flex.flexCol.flexAlignCenter.flexJustifyEnd
            img(src='/projects/CityULTRA/images/logo.png' alt='Logo for CityULTRA website frontend').w6
            p.w3.diminutive.tW.f2.i.textAlignCenter.px-5.px-md-0.pb-0.mb-0 The premier venue, bar and restaurant frontend.
        div.address.col-12.col-md-4.tW.textAlignCenter.flex.flexCol.flexJustifyEnd
            //- h1.d-none.d-md-block.f2.i.mM City&shy;
            //-     span.f4.mM ULTRA
            a(href='https://goo.gl/maps/ftEbbJoBBxAeSHFG8').tW.f2.i.dwarf.pt-3.pt-md-0 218 Happy Valley Rd<br>Sequim WA 98382<br>
            a(href='tel:+13604775426').tel.tW.f4.mM.mt-2 (360) 477-5426