extends layout
block content
    
    header
        include nav
        include headerText
    section.relative.sBB.container-fluid.w1.flex.flexCol.flexAlignCenter.pt-0.pb-0.px-lg-5.based.reverseBased
        a#top
        article.row.wB.w1.maxed.sBS.my-0.mb-0.mb-lg-0.mt-0.p-3.p-lg-5.mx-0
            p.mt-2.col-12.initial.px-0.px-md-4 Nestled in charming downtown Port Angeles WA, CityULTRA serves as the premier frontend for go-to nightspots.
            include socialsCase
            include launcher
            include getHere
    include footer
    include ultimate