extends layout
block content
    
    header
        include nav
        include headerText
    section.relative.sBB.container-fluid.w1.flex.flexCol.flexAlignCenter.pt-0.px-lg-5.based.reverseBased
        a#top
        article.row.wB.w1.maxed.sBS.my-0.mb-0.mb-lg-0.mt-0.p-3.p-lg-5.mx-0
            include launcher
            include socialsCase
            p#intro.mt-2.col-12.initial.px-0.px-md-4.my-0.py-3.beam.ps-2 Nestled in charming downtown Port Angeles WA, CityULTRA serves as the premier frontend for go-to nightspots.  You will soon see bacon among other meats.  Rest assured you are not dreaming.  The 'bacon ipsum' was thoughtfully provided by Pete Nelson of 
                a(href='https://baconipsum.com/' target='_BLANK').tB Baconipsum.
            include getHere
    include footer
    include ultimate