doctype html
html
  head
    title=title
    include meta
    include openGraph
    include headCheese
  body(data-spy="scroll" data-target=".sweet" data-offset="100")
    div.se-pre-con
    a#entrance
    include goToTop
    block content
    include toeJam