div#navCase.fixedTop.w1.bB.flex.flexCol.clubbedOut
    include thisIsAdemoReturnHome
    a#wow.d-block.d-md-none.tW.w1.textAlignCenter.noDecoration.pointer.py-2 ☰
    nav
        div#closer.d-block.d-md-none.tW ✖
        ul.nav.caps
            li.p-3
                img(src='/projects/CityULTRA/images/dolphy.png' alt=`"Dolphy!, the CityULTRA logo"`).dolphy.sC
            li.f4.exJr2
                a(href='/projects/CityULTRA/home#top')#homeLink.tW.noDecoration Home
            li.f4.exJr2
                a(href='/projects/CityULTRA/events#top').tW.noDecoration Events
            li.f4.exJr2
                a(href='/projects/CityULTRA/menu#top')#menuLink.tW.noDecoration Menu
            li.f4.exJr2
                a(href='/projects/CityULTRA/gallery#top').tW.noDecoration Gallery
            li.f4.exJr2
                a(href='/projects/CityULTRA/booking#top').tW.noDecoration Booking