meta(property='og:locale' content='en_US')
meta(property='og:site_name' content=title)
meta(property='og:title' content=description)
meta(property='og:type' content=`website`)
meta(property='og:url' content=`https:scxn.github.io/projects/CityULTRA`)
meta(property='og:image' content=`https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/gaTEQnwSEzsAcxcIVkmgjyaz`)
meta(property='og:description' content=`Boutique branding, web strategy, and limited-run souvenirs.  Say more with one-of-a-kind keepsakes and websites that perform.`)