margin.col-1.col-md-2
div.col-10.col-md-8
    ul.px-0.px-md-5.py-5.nav.flex.flexJustifyCenter
        li.px-4
            a(href='/projects/CityULTRA') 
                i.fa-brands.fa-facebook-f
        li.px-4
            a(href='/projects/CityULTRA') 
                i.fa-brands.fa-instagram
        li.px-4
            a(href='/projects/CityULTRA') 
                i.fa-brands.fa-yelp
margin.col-1.col-md-2