extends layoutAlt
block content
    cover.cover.sH.sC
        a#cover.dropAnchor
        section.container-fluid
            article.pT6.pB6.row
                margin.d-none.d-sm-block.col-md-1
                menu.sC.col-sm-5.redLined
                    h1.w1.textAlignCenter Thank you!
                    h2.exJr.b.diminutive.caps.b.lH1.w1.textAlignCenter comment
                    p.w3.pT1.initial Your comment has been forwarded to 
                        a(href='/projects/birdhouseStudio/') our Flagship Office
                        |.  Please allow for up to 72 hrs for a response if one has been requested.  Continued thanks.
                        div(style='line-height: 1.1em !important;').w3.diminutive (This is a demo therefore no message has actually be sent to anyone.  Thank you!)
                    small.w1.flex.flexCol.flexAlignStart
                        a(href='/projects/birdhouseStudio/#cover').w1.tB ← Return home
                logo.d-none.d-sm-none.d-md-flex.sC.p-0.p-lg-4.p-xl-5.col-sm-5
                    h2(style='font-size: 72pt; color: var(--c3);').f3 WH
                margin.col-md-1