div#thisIsADemoReturnHome.w1.px-0.flex
    p.flex.flexRow.flexAlignCenter.textAlignStart.h100.w1.py-0.my-0
        a(href='/projects').tW.h100.noDecoration.ms-0.sC.px-5.py-0
            i.h100.sC.my-0.dwarf ← Return home
    p.flex.flexRow.dwarf.mb-1.my-0.py-0.tW.flexAlignCenter.flexJustifyEnd.noFlexWrap.me-5.w1
        span#thisIsADemoReturnHomeLogoCase.lH2
            span.d-none.d-md-inline You are viewing an&nbsp;
            span.lH3.dwarf SC
            i.i X
            span.dwarf N 
            span.d-none.d-md-inline project&nbsp;
            span.d-inline.d-md-none &nbsp; D
            span.d-none.d-md-inline d
            | emo
            span.d-none.d-md-inline nstration.
