footer.ultimate.lineH.sC.g-0.p-0.m-0.w1.bB.diminutive
    link(rel='stylesheet' src='/stylesheets/ultimate.css')
    a(href='https://scxn.github.io/').w1.h100.textAlignCenter.p-0.m-0.tW.flex.flexAlignCenter.flexJustifyCenter
      span.f2.diminutive An 
        b.diminutive.f5 SC
            i.diminutive.f2 X
            | N 
        | Web Solution