footer.ultimate.lineH.sC.g-0.p-0.m-0.w1.bB.diminutive
  p.tW.wiener.f3.p-0.mb-1 (
    a(href='https://idm.hypotheses.org/2354' target='_BLANK').tW Lipsum 
    | provided by Pete Nelson of 
    a(href='https://baconipsum.com/' target='_BLANK').tW Baconipsum
    | )
  link(rel='stylesheet' src='/stylesheets/ultimate.css')
  a(href='https://scxn.github.io/').w1.h100.textAlignCenter.p-0.m-0.tW.flex.flexAlignCenter.flexJustifyCenter
    span.f2.diminutive An 
      b.diminutive.f5 SC
          i.diminutive.f2 X
          | N 
      | Web Solution